.contacts__wrapper {
  padding: 70px;
  margin-top: 50px;

  background: var(--color-black);
  border-radius: var(--border-radius-md);

  @media (max-width: 1277px) {
    padding: 40px;
  }

  @media (max-width: 320px) {
    padding: 20px;
  }
}

.contacts__title {
  position: relative;
  font-size: 64px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 49rem;
    top: 50%;
    right: 0;
    background: var(--color-dark-gray);

    @media (max-width: 1277px) {
      display: none;
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding-bottom: 1.5rem;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 24px;

    @media (max-width: 1277px) {
      flex-direction: column;
      align-items: start;
    }

    @media (max-width: 425px) {
      font-size: 20px;
    }
  }
}

.contacts__list:first-child {
  border-bottom: 1px solid var(--color-dark-gray);
}

.contacts__list:nth-child(2) {
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--color-dark-gray);
}

.contacts__list:last-child {
  padding-top: 1.5rem;
}
