.wrapperEnrolleIMGWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.3125rem;
    img {
        width: 37.5rem;
        height: 53rem;
    }
}

.enrollee__announcement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margintop: 20px;
    gap: 20px;

    a {
        color: #0066ff;
        text-decoration: underline;
    }
}
.enrolle_alert {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100% !important;
    height: 100% !important;
}
