.left__menu {
  width: 100%;
  padding: 30px;
  border: 5px solid var(--color-black);
  border-top-left-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
  color: #ee2828;

  ul {
    display: flex;
    flex-direction: column;

    li {
      padding: 20px 0;

      &:not(:first-child) {
        border-top: 1px solid var(--color-black);
      }

      button {
        padding: 10px 15px;
        width: 100%;
        text-align: left;
        background: var(--color-black);
        border-radius: var(--border-radius-md);
      }
    }
  }
}

.main__menu {
  width: 250vw;
  min-height: 100vh;
  padding: 30px;
  border: 2px solid var(--color-black);
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.create__page__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;

  li {
    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;

      background: var(--color-blue);
      border-radius: var(--border-radius-sm);
    }
  }
}

.create__page {
  input {
    padding: 1rem;
    background: var(--color-black);
    border-radius: var(--border-radius-md);
  }
}

.createpage__input {
  width: 100%;
  padding: 20px;
  background: var(--color-black);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
}

.create__page {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.save__files__start {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 100%;
      padding: 20px;
      border-radius: var(--border-radius-md);
      background: var(--color-black);
    }

    button {
      width: 100%;
      padding: 20px;
      background: #000;
      border-radius: var(--border-radius-md);
    }
  }
}

.save__files__main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      align-items: center;
      gap: 20px;

      input {
        cursor: pointer !important;
      }

      input[type="text"] {
        width: 30%;
        padding: 20px;
        background: var(--color-black);
        border-radius: var(--border-radius-md);
      }

      input[type="file"] {
        display: none;
      }

      label {
        cursor: pointer;
      }
    }
  }
}

.save__files__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
