.post_title {
	margin-top: 10px;
	font-size: 36px;
	font-weight: 700;
}
.postImgTitleWrapper {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 20px;
	flex-direction: column;
	ul > li {
		display: list-item;
		list-style: disc;
	}
	ol > li {
		display: list-item;
		list-style: decimal;
	}
}

.post_date {
	margin-top: 15px;
}
