.post_title {
	margin-top: 10px;
	font-size: 24;
	font-weight: 700;
}
.postImgTitleWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.post_date {
	margin-top: 15px;
}
