.enrollee__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 115px;
  border-bottom: 1px solid var(--color-dark-gray);
  margin-bottom: 64px;
  gap: 20px;

  @media (max-width: 1155px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.enrollee__top__left {
  h1 {
    font-size: 52px;

    @media (max-width: 823px) {
      font-size: 32px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;

    gap: 1.8rem;
    margin-top: 56px;

    li {
      font-size: 2rem;

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 823px) {
        font-size: 24px;
      }
    }

    @media (max-width: 823px) {
      gap: 1rem;
    }
  }
}

.enrollee__top__right {
  ul {
    display: flex;
    flex-direction: column;

    gap: 18px;
    width: 778px;

    li {
      font-size: 2rem;

      @media (max-width: 823px) {
        font-size: 24px;
      }
    }

    li:nth-child(2) {
      padding-bottom: 18px;
      border-bottom: 1px solid var(--color-dark-gray);
    }

    li:nth-child(1) {
      padding-bottom: 18px;
      border-bottom: 1px solid var(--color-dark-gray);
    }

    @media (max-width: 823px) {
      width: auto;
    }
  }
}

// Enrollee documents
.enrollee__documents {
  width: 100%;
  padding: 80px 135px;
  background: var(--color-black);
  border-radius: var(--border-radius-md);

  h3 {
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: 400;
  }

  a {
    color: #0066ff;
    text-decoration: underline;
  }


  ul {
    margin-left: 2rem;

    li {
      font-size: 1rem;
      list-style: disc;
      line-height: 150%;
    }
  }

  @media (max-width: 1155px) {
    padding: 40px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

// Order
.enrollee__order {
  display: flex;
  flex-direction: column;

  gap: 63px;
  padding: 48px 83px;
  margin-top: 3rem;

  border-radius: var(--border-radius-md);
  background: var(--color-black);

  li {
    a {
      font-size: 1rem;
      transition: var(--transition);

      &:hover {
        color: var(--color-light-blue);
      }
    }
  }

  @media (max-width: 1155px) {
    padding: 40px;
    margin-top: 2rem;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

// Links
.enrollee__links {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 33px 83px;
  margin-top: 3rem;

  border-radius: var(--border-radius-md);
  background: var(--color-black);

  li {
    list-style: numeric;
  }

  @media (max-width: 1155px) {
    padding: 40px;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    padding: 35px;
  }
}

// Mat capital
.mat__capital__image {
  margin-top: 80px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  border-radius: var(--border-radius-md);
}

// specialityes
.specialityes {
  margin-top: 61px;

  .specialityes__title {
    font-size: 64px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;

      width: 45rem;
      height: 1px;
      background: var(--color-dark-gray);

      @media (max-width: 1555px) {
        display: none;
      }

      @media (max-width: 1820px) {
        width: 40rem;
      }
    }

    @media (max-width: 768px) {
      font-size: 48px;
    }

    @media (max-width: 445px) {
      font-size: 36px;
    }

    @media (max-width: 320px) {
      font-size: 28px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 40px;
    margin-top: 61px;

    li {
      width: 450px;
      height: 814px;
      overflow: hidden;

      background: var(--color-black);
      border-radius: var(--border-radius-md);

      transition: var(--transition);

      img {
        height: 450px;
        -o-object-fit: cover;
        object-fit: cover;
        border-top-right-radius: var(--border-radius-md);
        border-top-left-radius: var(--border-radius-md);

        @media (max-width: 768px) {
          height: 300px;
        }
      }

      .specialityes__main__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 31px;

        gap: 1rem;

        h2 {
          font-size: 48px;

          @media (max-width: 820px) {
            font-size: 24px;
          }
        }

        p {
          font-size: 1.3rem;

          @media (max-width: 820px) {
            font-size: 1rem;
          }
        }
      }

      &:hover {
        box-shadow: 0px 0px 200px 50px rgba(0, 26, 255, 0.25);
      }

      @media (max-width: 768px) {
        width: 300px;
        height: 600px;
      }
    }
  }
}

// necessary
.necessary {
  padding: 50px 62px;
  margin-top: 3rem;

  background: var(--color-black);
  border-radius: var(--border-radius-md);

  h2 {
    font-size: 1rem;
  }

  ol {
    li {
      list-style-type: numeric;
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }

  p {
    margin-top: 32px;
    font-size: 1.2rem;
  }

  @media (max-width: 1155px) {
    padding: 40px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

// Requsites
.requzits {
  h1 {
    font-size: 40px;
    margin-top: 3rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 32px;
    }

    @media (max-width: 445px) {
      font-size: 24px;
    }
  }
}

.enrollee__order__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  a {
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    background: var(--color-blue);
    border-radius: var(--border-radius-md);
  }
}

.specialityes__loading {
  width: 450px;
  height: 514px;
}

.enrollee__links__loading {
  width: 100%;
}

.enrollee__links__loading {
  height: 20px;
}

.specialityes {
  ul {
    margin-bottom: 60px;
  }
}

.specialityes__recomendations {
  margin-top: 2rem;

  h2 {
    font-size: 1.75rem;
  }
}

.specialityes__recomendationsList {
  display: flex;
  justify-content: space-between;

  margin-top: 1.25rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.specialityes__recomended {
  width: 32%;
  min-height: 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: rgba(0, 26, 255, 0.712);
  border: 0.05rem solid var(--color-blue);
  border-radius: var(--border-radius-md);

  transition: var(--transition);

  &:hover {
    background: var(--color-blue);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
