.delimiter {
    margin-top: 60px;
    margin-bottom: 66px;

    height: 1px;
    width: 100%;

    background: var(--color-dark-gray);

    @media (max-width: 550px) {
        width: 90%;
        margin: auto;

        margin-top: 30px;
        margin-bottom: 40px;
    }
}


.links {
    background: var(--color-black);
    border-radius: var(--border-radius-md);

    & li:last-child {
        padding-bottom: 60px;

        @media (max-width: 550px) {
            padding-bottom: 30px;
        }
    }

    @media (max-width: 550px) {
        width: 90%;
        margin: auto;
    }
}


.title {
    font-size: 30px;
    text-align: center;

    padding-top: 30px;

    @media (max-width: 550px) {
        font-size: 23px;
        padding-bottom: 15px;
    }
}

.link {
    font-size: 30px;
    margin-top: 45px;

    padding: 0 105px;


    & a {
        transition: .3s;
    }

    & a:hover {
        transition: .3s;
        color: var(--color-blue);
    }

    @media (max-width: 550px) {
        padding: 0 16px;
        font-size: 18px;

        margin-top: 23px;
    }
}




