.colleage__history {
  display: flex;
  gap: 35px;

  p {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  img {
    width: 953px;
    height: 568px;
    object-fit: cover;
    border-radius: var(--border-radius-md);

    @media (max-width: 1440px) {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1440px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
}

.colleage__history__text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  button {
    margin-top: 50px;
  }
}

.colleage__history__teachers {
  margin-top: 40px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 40px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      width: 450px;
      height: 212px;
      padding: 20px 50px;
      gap: 10px;

      background: var(--color-black);
      border-radius: var(--border-radius-md);

      transition: background 0.2s ease;

      &:hover {
        background: var(--color-red);
      }
    }
  }
}

.CEO {
  margin-top: 50px;
  line-height: 130%;

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    p {
      width: 591px;
    }
  }
}

.achives {
  margin-top: 40px;
}

.achives__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  img {
    width: 334.867px;
    height: 1037.173px;
    object-fit: cover;
    border-radius: var(--border-radius-md);
  }
}
