
.posts {
    width: 620px;
    position: relative;

    display: flex;
    flex-direction: column;

}

.viewAll {
    font-size: 30px;

    position: absolute;
    bottom: 0;

    color: var(--color-blue);
}
