.speciality__loading {
  height: 70vh;
  width: 100%;
}

.speciality__skeleton {
  display: flex;
  // justify-content: space-between;
}

.speciality__loading__text {
  margin-top: 20px;
  width: 100%;
}
