
.title {
    font-size: 96px;
    font-weight: bold;
    text-align: center;

    margin-top: 86px;


    background: linear-gradient(to left, #0085FF 0%, #00C2FF 50%, #0085FF 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: animationGradient 10s linear infinite;
}


@keyframes animationGradient {
    0% {
        background-position: -100% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}


