.title {
	ul > li {
		display: list-item;
		list-style: none;
	}
	font-size: 96px;
	font-weight: bold;
	text-align: center;

	margin-top: 86px;

	background: linear-gradient(to left, #0085ff 0%, #00c2ff 50%, #0085ff 100%);
	background-size: 200%;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: animationGradient 5s linear infinite;
}

@keyframes animationGradient {
	0% {
		background-position: -100% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}
