.delimiter {
    margin-top: 60px;
    margin-bottom: 66px;

    height: 1px;
    width: 100%;

    background: var(--color-dark-gray);
}


.links {
    background: var(--color-black);
    border-radius: var(--border-radius-md);

    & li:last-child {
        padding-bottom: 60px;
    }
}


.title {
    font-size: 30px;
    text-align: center;

    padding-top: 30px;
}

.link {
    font-size: 30px;
    margin-top: 45px;

    padding: 0 105px;


    & a {
        transition: .3s;
    }

    & a:hover {
        transition: .3s;
        color: var(--color-blue);
    }
}




