$height: 130px;
$height-mobile: 70px;

.header {
  position: fixed;
  left: 0;
  top: 0;

  z-index: 20000;

  background: var(--color-dark);
  box-shadow: 5px 10px 10px rgba(18, 18, 18, 0.682);

  width: 100vw;
  height: $height;

  display: flex;
  align-items: center;

  transition: box-shadow 0.3s;

  @media (max-width: 550px) {
    height: $height-mobile;
  }
}

.logo {
  // @media (max-width: 540px) {
  //   position: relative;
  //   & img {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }
  // }

  @media (max-width: 550px) {
    width: 55px;
    margin-right: auto;
  }
}

// .headerActive {
//   background: var(--color-dark);
//   box-shadow: 5px 10px 10px rgba(18, 18, 18, 0.682);
// }

.container {
  display: flex;
  align-items: center;

  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;

  justify-content: space-between;
  flex: 1;

  @media (max-width: 550px) {
    justify-content: end;
    padding: 0 15px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  gap: 35px;

  @media (max-width: 1240px) {
    display: none;
  }
}

.link {
  position: relative;

  @media (max-width: 550px) {
    text-align: center;
  }
}

.headerWrapper {
  height: 180px;

  @media (max-width: 550px) {
    height: 115px;
  }
}

.headerButtons {
  padding-left: 100px;

  display: flex;
  gap: 36px;

  button:first-child {
    padding: 3px 14px;
    background: var(--color-red);
    border-radius: var(--border-radius-sm);
  }

  // button:last-child {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     padding: 5px;
  //     width: 88px;
  //     background: var(--color-white);
  //     color: var(--color-dark);
  //     border-radius: var(--border-radius-sm);
  // }

  p {
    width: 38px;
    font-size: 14px;
    line-height: 90%;
  }

  @media (max-width: 1240px) {
    padding-left: 0;
  }

  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.mobile__links {
  display: none;
  font-size: 32px;

  @media (max-width: 1240px) and (max-width: 550px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 550px) {
    font-size: 21px;
    width: 90%;
    margin: auto;
  }
}

.burger {
  width: 42px;
  height: 42px;
}

.dropdownIcon {
  width: 12px;
  height: 12px;

  display: inline;
  margin-left: 5px;

  animation: iconRotateReset 0.4s ease forwards;
}

.dropdownIconActive {
  animation: iconRotate 0.4s ease forwards;
}

.menu {
  z-index: 5000;
  overflow: auto;

  width: 100%;
  height: calc(100vh - $height);

  position: fixed;
  top: 100%;
  left: 0;

  background: var(--color-dark-secondary);

  transition: 0.4s;
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    height: calc(100vh - $height-mobile);
  }
}

.headerMenuActive {
  box-shadow: 5px 10px 10px rgba(18, 18, 18, 0);
  transition: 0.3s;
}

.menuActive {
  top: $height;
  transition: 0.4s;

  @media (max-width: 550px) {
    top: $height-mobile;
  }
}

.menuLink {
  font-size: 30px;
  text-align: center;

  transition: 0.3s;

  &:hover {
    color: var(--color-blue);
    transition: 0.3s;
  }

  @media (max-width: 550px) {
    font-size: 21px;
  }
}

.menuLinks {
  max-width: 900px;

  margin: 40px auto 0 auto;

  & li:not(:first-child) {
    margin-top: 41px;

    @media (max-width: 550px) {
      margin-top: 22px;
    }
  }

  @media (max-width: 550px) {
    margin: 40px auto 0 auto;
    width: 90%;
  }
}

.menuFooter {
  margin: auto auto 20px auto;
  width: 85%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 550px) {
    margin: auto auto 15px auto;
    gap: 50px;
    justify-content: initial;

    padding-top: 60px;
  }
}

.menuIcon {
  width: 72px;
  height: 42px;

  &:hover {
    & path {
      fill: var(--color-blue);
      transition: 0.3s;
    }
  }

  & path {
    transition: 0.3s;
  }
}

.developers {
  @media (max-width: 550px) {
    display: none;
  }
}

.today {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);

  @media (max-width: 550px) {
    position: sticky;
    transform: none;
    text-align: right;
  }
}

@keyframes dropdownOpen {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes iconRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes iconRotateReset {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.mobileDropdown {
  display: grid;
  grid-template-rows: 0fr;

  animation: mobileDropdownOpen 0.35s forwards;
  overflow: hidden;

  min-height: 0;
}

.mobileDropdownClosing {
  animation: mobileDropdownClose 0.35s forwards;
}

@keyframes mobileDropdownOpen {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes mobileDropdownClose {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}
