$height: 130px;
$height-mobile: 70px;


.header {
  position: fixed;
  left: 0;
  top: 0;

  z-index: 20000;

  background: var(--color-dark);
  box-shadow: 5px 10px 10px rgba(18, 18, 18, 0.682);

  width: 100vw;
  height: $height;

  display: flex;
  align-items: center;

  transition: box-shadow 0.3s;

  @media (max-width: 550px) {
    height: $height-mobile;
  }
}

.logo {

  // @media (max-width: 540px) {
  //   position: relative;
  //   & img {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }
  // }

  @media (max-width: 550px) {
    width: 55px;
    margin-right: auto;
  }
}

// .headerActive {
//   background: var(--color-dark);
//   box-shadow: 5px 10px 10px rgba(18, 18, 18, 0.682);
// }

.container {
  display: flex;
  align-items: center;

  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;

  justify-content: space-between;
  flex: 1;

  @media (max-width: 550px) {
    justify-content: end;
    padding: 0 15px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  gap: 35px;

  @media (max-width: 1240px) {
    display: none;
  }
}

.link {
  position: relative;
}

.headerWrapper {
  height: 180px;

  @media (max-width: 550px) {
        height: 115px;
  }
}

.headerButtons {
  padding-left: 100px;

  display: flex;
  gap: 36px;

  button:first-child {
    padding: 3px 14px;
    background: var(--color-red);
    border-radius: var(--border-radius-sm);
  }

  // button:last-child {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     padding: 5px;
  //     width: 88px;
  //     background: var(--color-white);
  //     color: var(--color-dark);
  //     border-radius: var(--border-radius-sm);
  // }

  p {
    width: 38px;
    font-size: 14px;
    line-height: 90%;
  }

  @media (max-width: 1240px) {
    padding-left: 0;
  }

  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.mobile__links {
  display: none;
  font-size: 32px;

  @media (max-width: 1240px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.burger {
  width: 42px;
  height: 42px;
}

.dropdownIcon {
  width: 12px;
  height: 12px;

  display: inline;
  margin-left: 5px;
}

.menu {
  z-index: 5000;
  overflow: auto;

  width: 100%;
  height: calc(100vh - $height);

  position: fixed;
  top: 100%;
  left: 0;

  background: var(--color-dark-secondary);

  transition: 0.4s;
  display: flex;
  flex-direction: column;
}

.headerMenuActive {
  box-shadow: 5px 10px 10px rgba(18, 18, 18, 0);
  transition: 0.3s;
}

.menuActive {
  top: $height;
  transition: 0.4s;

  @media (max-width: 550px) {
    top: $height-mobile;
  }
}

.menuLink {
  font-size: 30px;
  text-align: center;

  transition: 0.3s;

  &:hover {
    color: var(--color-blue);
    transition: 0.3s;
  }
}

.menuLinks {
  max-width: 900px;

  margin: 90px auto 0 auto;

  :not(:first-child) {
    margin-top: 41px;
  }
}

.menuFooter {
  margin: auto auto 58px auto;
  width: 1582px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menuIcon {
  width: 72px;
  height: 42px;

  &:hover {
    & path {
      fill: var(--color-blue);
      transition: 0.3s;
    }
  }

  & path {
    transition: 0.3s;
  }
}

.today {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

@keyframes dropdownOpen {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}

// .header__menu__bottom {
//   margin-top: auto;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 20px 170px;

//   @media (max-width: 1123px) {
//     padding: 20px;
//     flex-wrap: wrap;
//   }
// }

// .footer__devs {
//   float: right;
//   margin-left: 50%;
//   margin-top: auto;

//   @media (max-width: 1030px) {
//     margin-left: 0;
//     margin-top: 1rem;
//   }
// }

// .header__devs__list {
//   width: 280px;

//   li {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 0.5rem;
//   }

//   @media (max-width: 320px) {
//     width: auto;
//   }
// }

// .header__devs__links {
//   display: flex;
//   align-items: center;
//   gap: 15px;
// }

// .header__devs__title {
//   margin-left: 117px;
// }

// .header__menu__top {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 40px 170px;
//   background: var(--color-dark);

//   @media (max-width: 845px) {
//     padding: 20px;
//   }

//   @media (max-width: 425px) {
//     img {
//       display: none;
//     }
//   }
// }
