.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: 40px;
  margin-bottom: 40px;

  @media (max-width: 420px) {
    img {
      width: 20%;
      height: 20%;
    }
  }
}

.header__nav {
  display: flex;
  gap: 25px;

  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1400px) {
    display: none;
  }
}

.header__buttons {
  display: flex;
  gap: 36px;

  button:first-child {
    padding: 3px 14px;
    background: var(--color-red);
    border-radius: var(--border-radius-sm);

    @media (max-width: 395px) {
      font-size: 14px;
    }

    @media (max-width: 320px) {
      margin: 0.5rem;
    }
  }

  button:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 88px;
    background: var(--color-white);
    color: var(--color-dark);
    border-radius: var(--border-radius-sm);

    p {
      width: 38px;
      font-size: 14px;
      line-height: 90%;
    }

    @media (max-width: 560px) {
      display: none;
    }
  }

  @media (max-width: 1400px) {
    float: right;
  }
}

.header__menu {
  position: relative;
  width: 54px;
  height: 4px;
  border-radius: 6px;
  background: var(--color-dark-white);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 47px;
    height: 4px;
    border-radius: 6px;
    transform: translateY(-250%);
    background: var(--color-dark-white);
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 38px;
    height: 4px;
    border-radius: 6px;
    transform: translateY(250%);
    background: var(--color-dark-white);
  }
}
