.post {
	position: relative;

	border-radius: var(--border-radius-md);
	overflow: hidden;

	&:not(:first-child) {
		margin-top: 40px;

		@media (max-width: 550px) {
			margin-top: 20px;
		}
	}

	& a {
		outline:  none;
	}
}

.info {
	height: 105px;
	background: var(--color-dark-secondary);
	display: flex;
	align-items: center;
	//text-align: center;
	justify-content: space-between;
	position: relative;

	@media (max-width: 550px) {
        height: 72px;
    }
}

.title {
	max-width: 400px;
	max-height: 55px;
	margin-top: 10px;
	margin-left: 15px;
	padding-right: 16px;
	font-size: 30px;
	font-weight: 400;

	@media (max-width: 550px) {
        max-width: 170px;
		max-height: 45px;
		//margin-left: 15px;
		padding-right: 8px;
		font-size: 17px;
		font-weight: 400;
    }
}

.description {
	//max-width: 100px;
	max-height: 52px;
	margin-top: 10px;
	margin-right: 5px;
	//text-align: start;
	//	padding-right: 22px;
	font-size: 18px;

	margin-top: auto;
	padding: 0 12px 12px 0;
	color: var(--color-middle-gray);

	@media (max-width: 550px) {
        font-size: 14px;
    }
}

.image {
	position: sticky !important;

	max-width: 100%;
	max-height: 323px;

	object-fit: cover;

	@media (max-width: 550px) {
        max-height: 260px;
    }
}

.postLoading {
	border-radius: var(--border-radius-md);
	overflow: hidden;

	&:not(:first-child) {
		margin-top: 40px;
	}
}

.imageLoading {
	height: 323px;

	border-top-left-radius: var(--border-radius-md);
	border-top-right-radius: var(--border-radius-md);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	@media (max-width: 550px) {
		height: 260px;
	}
}

.titleLoading {
	height: 35px;
	width: 220px;

	margin-left: 15px;
	margin-right: 60px;

	@media (max-width: 550px) {
        width: 150px;
		height: 25px;
    }
}

.descLoading {
	width: 135px;
	height: 25px;

	position: absolute;
	right: 18px;
	bottom: 18px;

	@media (max-width: 550px) {
        width: 80px;
		height: 18px;
    }
}
