.post {
	position: relative;

	border-radius: var(--border-radius-md);
	overflow: hidden;

	&:not(:first-child) {
		margin-top: 40px;
	}
}

.info {
	height: 90px;
	background: var(--color-dark-secondary);
	display: flex;
	align-items: center;
	//text-align: center;
	justify-content: space-around;
}

.title {
	max-width: 400px;
	max-height: 55px;
	//margin-left: 15px;
	//padding-right: 16px;
	font-size: 30px;
	font-weight: 400;
}

.description {
	//max-width: 100px;
	max-height: 52px;

	//	padding-right: 22px;
	font-size: 18px;
}

.image {
	position: sticky !important;

	max-width: 100%;
	max-height: 334px;

	object-fit: cover;
}

.postLoading {
	border-radius: var(--border-radius-md);
	overflow: hidden;

	&:not(:first-child) {
		margin-top: 40px;
	}
}

.imageLoading {
	height: 334px;

	border-top-left-radius: var(--border-radius-md);
	border-top-right-radius: var(--border-radius-md);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.titleLoading {
	height: 35px;
	width: 175px;

	margin-left: 15px;
	margin-right: 60px;
}

.descLoading {
	width: 320px;
	height: 25px;

	padding-right: 42px;

	&:not(:first-child) {
		margin-top: 10px;
	}
}
