.dormitory__top {
  .dormitory__top__main {
    display: flex;

    img {
      width: 983px;
      height: 623px;
      object-fit: cover;
      border-radius: var(--border-radius-md);

      @media (max-width: 1669px) {
        width: 100%;
      }
    }

    @media (max-width: 1669px) {
      flex-direction: column;
    }
  }

  .dormitory__top__text {
    display: flex;
    flex-direction: column;

    margin-left: 2rem;

    h1 {
      font-size: 32px;

      @media (max-width: 375px) {
        font-size: 24px;
      }
    }

    p {
      line-height: 120%;
      margin-top: 10px;
    }

    @media (max-width: 1669px) {
      margin-left: 0;
    }
  }

  .dormitory__top__text__bottom {
    margin-top: 1rem;
    line-height: 120%;
  }
}

/* Note */

.dormitory__note {
  margin-top: 2rem;

  h2 {
    font-size: 2rem;
    width: 700px;

    @media (max-width: 728px) {
      width: auto;
      font-size: 24px;
    }
  }

  p {
    margin-top: 0.5rem;
    font-size: 20px;

    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
}

.dormitory__note__documents {
  background: var(--color-black);
  padding: 50px 100px;

  margin-top: 1.5rem;
  border-radius: var(--border-radius-md);

  ol {
    margin-left: 1rem;
    margin-top: 1.3rem;

    li {
      list-style-type: numeric;
      font-size: 24px;

      &:not(:first-child) {
        margin-top: 0.6rem;
      }

      @media (max-width: 375px) {
        font-size: 16px;
      }
    }
  }

  p {
    font-size: 24px;

    @media (max-width: 375px) {
      font-size: 16px;
    }
  }

  @media (max-width: 425px) {
    padding: 20px;
  }
}

.dormitory__note__house__text {
  margin-top: 2rem;

  p {
    font-size: 20px;
    line-height: 150%;
    margin-top: 1rem;

    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
}

/* Files */

.dormitory__files {
  margin-top: 3rem;

  background: var(--color-black);
  border-radius: var(--border-radius-md);

  ul {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 3rem 4.5rem;

    li {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 425px) {
      padding: 20px;
    }
  }
}

/* Announcement */

.dormitory__announcement {
  margin-top: 3rem;
  padding: 2rem 3.5rem 3.5rem 3.5rem;

  background: var(--color-black);
  border-radius: var(--border-radius-md);

  h3 {
    text-align: center;
    font-size: 36px;

    @media (max-width: 375px) {
      font-size: 24px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  @media (max-width: 425px) {
    padding: 20px;
  }
}

/* Price */
.dormitory__price {
  margin-top: 2rem;
}

.dormitory__price__title {
  h3 {
    font-size: 36px;
    margin-left: 1rem;

    @media (max-width: 375px) {
      font-size: 24px;
    }
  }

  p {
    font-size: 24px;
    margin-top: 1rem;

    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
}

.dormitory__price {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 40px;
    margin-top: 105px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 450px;
      height: 642px;
      padding: 42px 25px;

      text-align: center;

      background: var(--color-black);
      border-radius: var(--border-radius-md);
      transition: var(--transition);

      h3 {
        font-size: 32px;
        font-weight: 400;
        @media (max-width: 375px) {
          font-size: 24px;
        }
      }

      h1 {
        font-size: 32px;

        @media (max-width: 375px) {
          font-size: 24px;
        }
      }

      h6 {
        font-size: 16px;
        font-weight: 400;
      }

      &:hover {
        background: var(--color-red);
      }

      @media (max-width: 375px) {
        width: auto;
      }
    }
  }
}
