:root {
  --color-white: #fff;
  --color-dark: #232323;
  --color-dark-gray: #616161;
  --color-black: #1e1e1e;
  --color-blue: #0066ff;
  --color-light-blue: #80b2ff;
  --color-dark-white: #e8e8e8;

  --color-dark-gray-secondary: #4c4c4c;
  --color-dark-secondary: #2d2d2d;
  --color-light-blue-secondary: #a0c6ff;

  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;

  --transition: 0.2s ease;
}
