@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset";
@import "./vars";

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body,
#root {
  font-size: 20px;
  overflow-x: hidden;
}

body {
  background: var(--color-dark);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 75px;
}

.container {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button,
input,
textarea {
  color: var(--color-white);
}
