.NacProjectArticlesMap {
  margin-top: 38px;
  p {
    @media only screen and (max-width: 1160px) {
      margin-bottom: 20px;
    }
  }
}

.NacProjectFirst {
  display: flex;
	flex-direction: column;

  @media only screen and (max-width: 1160px) {
    flex-direction: column;
  }

  span {
    font-size: 48px;
    font-weight: 700;
    @media only screen and (max-width) {
      font-size: 12px;
      font-weight: 400;
    }
  }

  @media only screen and (max-width: 1024px) {
    font-size: 12px;
    font-weight: 400;
  }
  p {
    max-width: 1180px;
    max-height: 252px;
  }
}
.NacProjectTitle {
  span {
    display: block;
    margin-top: 50px;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 700;
  }
  @media only screen and (max-width: 1160px) {
    display: flex;
    flex-direction: column;
  }
  .textTitle {
    margin-right: 20px;
    @media only screen and (max-width: 640px) {
      margin-top: 30px;
      margin-bottom: 14px;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .doubleWeb {
    display: flex;
    flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20px;
    margin-bottom: 46px;

		img {
			width: 49%;
		}
  }

  .doubleWebElement {
    margin-bottom: 25px;
  }
}
.antiCorList:hover {
  color: var(--color-blue);
  transition: all 0.3s ease-out;
}
.block_desc {
  margin-top: 55px;
  display: flex;
  padding-left: 46px;
  padding-bottom: 30px;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1570px;
  flex-shrink: 0;
  border-radius: var(--border-radius-md);
  background: var(--color-black);
  a {
    color: var(--color-white);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:nth-child(1) {
      margin-top: 94px;
    }
    &:nth-child(2) {
      margin-top: 26px;
      margin-bottom: 46px;
    }
    @media only screen and (max-width: 640px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 22px;
    }
  }

  span {
    color: var(--color-white);
    margin-left: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media only screen and (max-width: 640px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 22px;
    }
  }

  .poligon {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--color-white);
    margin-top: 6px;
    margin-left: 3px;
  }
  .reversedPoligon {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid var(--color-white);
    margin-top: 6px;
    margin-left: 3px;
  }
}

.articles {
  display: inline-block;
  color: var(--color-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media only screen and (max-width: 640px) {
    font-size: 18px;
    font-weight: 400;
  }
}
.block_desc_article {
  &:hover {
    color: var(--color-blue);
    transition: all 0.3s ease-out;
  }
}

.listPol {
  margin-top: 26px;
  padding-bottom: 15px;
  a {
    &:hover {
      color: var(--color-blue);
      transition: all 0.3s ease-out;
    }
  }
}

.gridRooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gridRoomsElement {
  display: block;

  @media only screen and (max-width: 1590px) {
    margin-bottom: 40px;
  }

  margin-bottom: 40px;
}
/* .gridRoomsElement {
	&:nth-child(1) {
		margin-right: 70px;
		@media only screen and (max-width: 1590px) {
			margin-right: 0px;
		}
	}

	&:nth-child(3) {
		margin-top: 49px;
		margin-right: 70px;
		@media only screen and (max-width: 1590px) {
			margin-top: 0px;
			margin-right: 0px;
		}
	}

	&:nth-child(4) {
		margin-top: 24px;
		@media only screen and (max-width: 1590px) {
			margin-top: 0px;
		}
	}
} */

.buttonPolygon {
  display: flex;
  align-items: center;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
