.dpo {
  margin-top: 3rem;

  h1 {
    font-size: 64px;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 32px;
    }

    @media (max-width: 425px) {
      font-size: 24px;
    }
  }

  img {
    border-radius: var(--border-radius-md);
  }

  p {
    font-size: 32px;
    margin-top: 2rem;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.dpo__order {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 2rem;
  margin-top: 3rem;

  border-radius: var(--border-radius-md);
  background: var(--color-black);

  li {
    a {
      font-size: 36px;

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 425px) {
        font-size: 20px;
      }
    }
  }
}
