.burger {
  position: relative;

  @media (max-width: 550px) {
    transform: scale(0.8);
  }
}

.toggle {
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;

  margin: auto;
}

.toggle:focus {
  outline-width: 0;
}

.toggle > .top,
.middle,
.bottom {
  background: #ffffff;
  display: block;

  transform: rotate(0deg);
  transition: 0.2s ease all;

  border-radius: 8px;
  height: 3px;
  width: 35px;
  margin-bottom: 8px;
}

.toggle .bottom {
  margin-bottom: 0;
}

.active .top {
  transform: rotate(45deg);
  transform-origin: 15% 15%;
}
.active .middle {
  opacity: 0;
}
.active .bottom {
  transform: rotate(-45deg);
  transform-origin: -5% 40%;
}
