// .departments {

// }

.title {
  margin-top: 105px;

  font-size: 45px;
  text-align: center;
}

.all {
  display: flex;
  justify-content: space-between;

  margin-top: 81px;

  @media (max-width: 1390px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.card {
  width: 430px;

  background: var(--color-black);

  border-radius: var(--border-radius-md);
}

.image {
  & image {
    max-width: 100%;
    max-height: 100%;
  }
}

.text {
  padding: 26px 26px 41px 26px;

  font-size: 30px;
  text-align: center;
}
