
.dropdown {
    position: absolute;

    width: 32rem;
    padding: 0 3rem;
    font-size: .75rem;

    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-rows: 0fr;

    animation: openDropdown .35s forwards;
    overflow: hidden;

    & nav {
        min-height: 0;
    }

    // z-index: -2;
    z-index: 30000;
}

.dropdownRemoving {
    animation: removeDropdown .35s forwards;
    pointer-events: none;

    border: .05rem solid transparent;
    transition: .1s;
}


.container {
    margin-top: .9rem;

    background: var(--color-dark);
    border: .05rem solid rgba(86, 79, 79, 0.2);
    border-radius: var(--border-radius-md);

    &:last-child {
        padding-bottom: .8rem;
    }
}

.item {
    padding: .8rem .8rem 0 .8rem;
    transition: .3s;

    &:hover {
        color: var(--color-blue);
        transition: .3s;
    }

    & a {
        display: block;
    }
}


.title {
    text-align: center;
    padding-bottom: .85rem;

    cursor: default;
}

.border {
    margin: auto;

    height: .1rem;
    width: 0;

    background: rgba(86, 79, 79, 0.2);

    animation: borderUp .4s .2s ease forwards
}

.icon {
    width: .6rem;
    height: .6rem;

    display: inline;
    margin-left: .25rem;

    animation: openIcon .4s ease forwards
}

.iconClosing {
    animation: closingIcon .4s ease forwards;
}


@keyframes borderUp {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@keyframes openDropdown {
    0% {
        grid-template-rows: 0fr;
    }

    100% {
        grid-template-rows: 1fr;
    }
}


@keyframes removeDropdown {
    0% {
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        transform: scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }
}



@keyframes openIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}


@keyframes closingIcon {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

